{% extends 'base.html' %}
{% block TITLE %}Book detail{% endblock TITLE %}
{% block BODY %}
    <h1>Book details</h1>
    <div class="card" style="width: 18rem;">
        <img src={{ object.picture.url }} class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">{{ object.name }}</h1>
          <h5 class="card-text">{{ object.Genre }}</h5>
          <p class='card-text'>{{ object.description }}</p>
          <h5 class="card-title">{{ object.price }}</h5>
          <a href="{% url "directory:list-view" %}" class="btn btn-primary">Go back</a><br>
          <div class="row">
            <div class="cal-auto">
              <input type="number" id="add-to-cart" class="form-control" min="1" max="100" value="1">
              <button class="btn btn-success" onclick="AddToCart()">Get to cart</button>
            </div>
          </div>
        </div>
    </div>
<script>
  function AddToCart() {
    quantity = document.getElementById("add-to-cart")
    window.location.href = "{% url 'orders:cart-view'%}" + "?good_id={{ object.pk }}&quantity=" + quantity.value
  }
</script>
{% endblock BODY %}