{% extends 'base.html' %}
{% block TITLE %}Books list{% endblock TITLE %}
{% block BODY %}
    <table border="1">
        <tr>
            <td>PK</td>
            <td>Name</td>
            <td>Genre</td>
            <td>Actions</td>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.pk }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.Genre }}</td>
            <td><a href="{% url "update-books" pk=obj.pk %}">update</a><br>
                <a href="{% url "delete-books" pk=obj.pk %}">delete</a><br>
                <a href="{% url "books-view" pk=obj.pk %}">detail</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock BODY %}