<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border ="1"> 
        <tr>
            <td>PK</td>
            <td>Name</td>
            <td>Genre</td>
        </tr>
        {% for object in objects %}
        <tr>
            <td>ID: {{object.pk}}</td>
            <td>Book name:{{object.name}}</td>
            <td>Genre:{{object.Genre}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>