<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select name="Genre" id=" ">
            <option value=" ">--Select genre--</option>
            {% for genre in genres %}
            <option value="{{ genre.pk }}" {% if genre.pk == object.Genre.pk %}selected{% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select><br>
        <input type="text" name="book_name" value="{{ object.name }}">
        <button type="submit">Edit book</button>
</body>
</html>