{% extends 'base.html' %}
{% block TITLE %}Update book{% endblock TITLE %}
{% block BODY %}
    <h1>{{ greeting }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select name="Genre" id=" ">
            <option value=" ">--Select genre--</option>
            {% for genre in genres %}
            <option value="{{ genre.pk }}" {% if genre.pk == object.Genre.pk %}selected{% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select><br>
        <input type="text" name="book_name" value="{{ object.name }}">
        <button type="submit">Edit book</button>
{% endblock BODY %}